@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR&family=Oswald&display=swap');

#content{
    position: absolute;
    left: 10%;
    top: 40%;
    margin-right: 50px;
    padding: 30px 50px;
    background: rgba(62, 56, 56, 0.6);
}

h1{
    color: white;
    font-size: 3em;
    font-family: 'oswald', sans-serif;
    text-shadow: 1px 1px 2px rgb(9, 255, 0);
}

p{
    padding-top: 20px;
    color: white;
    font-family: 'Nanum gothic', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    text-shadow: 1px 1px 1px rgb(0, 115, 255);
}

a, a:visited{
    text-decoration: none;
    color: white;
}